*{ 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background: rgb(255, 255, 255);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzT_l-QGIHIopaXCS84cp_E-emqOQcKI2H2w&s);
    background-blend-mode:difference;
    background-size:470px;
    background-repeat:repeat;
    color: #333; 
}
header { 
    background: linear-gradient(#173350,65%,black); 
    color: white; 
    padding: 16px 20px; 
    margin-bottom: 24px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.85);
    min-width: 400px;
    width: 100%; 
}

.nombre-restaurante { 
    font-size: 20px; 
    font-weight: bold; 
}

.numero-mesa { 
    font-size: 16px; 
    font-weight: 600; 
    background-color: #6076cb; 
    padding: 6px 12px; 
    border-radius: 8px;
}

.footer{
    background: linear-gradient(#173350,65%,black); 
    color: white; 
    padding: 16px 50px; 
    margin-top: 50px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.85);
    min-width: 400px;
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0;
}

.contenedor-carrito{
    display: grid; 
    grid-template-columns: repeat(1,1fr);
    padding: 8px;
    gap: 7px;
    padding-bottom: 90px;
}

.plato{ 
    background: linear-gradient(rgb(74, 87, 130), 50%, rgb(14, 5, 74)); 
    padding: 10px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    min-width: 382px;
    /*#00f0ff*/
    box-shadow: 0 0 1.5px #ffffff,
                0 0 3.5px #ffffff,
                0 0 7px #ffffff,
                0 0 8px #00f0ff;
    border-radius: 5px;
}

.info-plato { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.x{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

.contador{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    margin-right: 15px;
    margin-left: 10px;
}

.separador{
    height: 55px;
    width: 2px;
    background-color: #ffffff;
    margin-right: 20px;
}

.texto-plato { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    flex: 1; 
}

.nombre-plato { 
    font-size: 16px; 
    font-weight: 600; 
    color: #ffffff; 
}

.precio { 
    font-size: 14px; 
    font-weight: bold; 
    color: #00c8ff; 
    margin-top: 4px; 
}

.imagen-plato { 
    width: 60px; 
    height: 60px; 
    object-fit: cover; 
    border-radius: 8px;
}

.menu{
    margin-left: 0px; 
}

.icono1{
    width: 40px;
    height: 40px;
    margin-top: 3px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: aquamarine;
}
.icono2{
    width: 35px;
    height: 35px;
    margin-top: 3px;
}
.icono3{
    width: 35px;
    height: 35px;
    margin-top: 3px;
}

@media (min-width: 768px) { 
    .nombre-restaurante { 
        font-size: 24px; 
    }

    .numero-mesa { 
        font-size: 18px; 
    }
}

@media(max-width:300px){
    .footer{
        padding: 16px 40px;
        justify-content: left;
        gap: 10px;
    }
    .icono{
        margin-left: 0px;
    }
}